@charset "utf-8";
html{
    height: 100%;
}

body {
    font-family: Arial, "微软雅黑";
    overflow-y: scroll;
    overflow-y: -moz-scrollbars-vertical;
}

/*重置公共样式*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

/*页面头部区域*/
#page-header {
    width: 100%;
    min-width: 1280px;
    border-bottom: 1px solid #254a8a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#hd-logo {
    width: 230px;
    height: 70px;
    background: #1369af url(../../images/common/common/hd-logo.png) no-repeat right;
    float: left;
}

.hd-nav-wrapper {
    max-width: 100%;
    margin-left: 230px;
}

#hd-nav {
    max-width: 100%;
    height: 70px;
    margin-right: 260px;
    margin-bottom: 0;
    background: #1369af;
}

#hd-nav > li {
    float: left;
    position: relative;
}

.hd-nav-opt-hover {
    background: #254a8a;
    cursor: pointer;
}

#hd-nav > li:not(.hd-nav-opt-hover):hover {
    background: #254a8a;
    cursor: pointer;
}

#hd-nav > li > a {
    width: 100%;
    height: 70px;
    padding: 0 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    display: block;
}

#hd-nav > li.hd-nav-opt-slt > a {
    cursor: default;
}

.hd-nav-opt-slt:after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #1369af #1369af #f8f8f8;
    position: absolute;
    left: 50%;
    bottom: -1px;
}

.hd-acc-wrapper {
    width: 260px;
    height: 70px;
    background: #1369af;
    float: right;
}

#hd-acc {
    width: 180px;
    height: 70px;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    cursor: default;
}

#hd-acc:after {
    font-family: FontAwesome;
    content: "\f078";
    margin-left: 10px;
}

#hd-acc.open {
    background: #254A8A;
}

#hd-acc > .dropdown-menu {
    width: 100%;
    margin: 0;
}

#hd-acc > .dropdown-menu > li {
    padding: 5px 0;
    border-top: 1px solid #e5e5e5;
}

#hd-acc > .dropdown-menu > li:first-child {
    padding: 5px 0;
    border-top: none;
}

#hd-acc > .dropdown-menu > li:first-child > a {
    color: #333333;
}

#hd-acc > .dropdown-menu > li > a {
    color: #0088CC;
}

#hd-acc > i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: -4px;
}

/*面包屑导航*/
#pos {
    width: 100%;
    height: 41px;
    padding: 0 15px;
    border-bottom: 1px solid #e5e6e6;
    background: #f8f8f8;
    line-height: 40px;
}

#pos > span {
    margin-right: 10px;
    font-size: 12px;
}

#pos > span:before {
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 10px;
}

#pos > span.pos-first:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 0;
}

/*页面主体区域*/
#page-container {
    width: 100%;
    min-width: 1280px;
    overflow: hidden;
}

#page-left-wrapper {
    width: 100%;
    background: #e6e7e8;
    float: left;
    position: relative;
}

#page-right-wrapper {
    width: 100%;
    background: #ffffff;
    float: left;
    position: relative;
    left: 230px;
}

.page-right-wrapper-min {
    left: 40px !important;
}

#page-left {
    width: 230px;
    float: left;
    position: relative;
    right: 230px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#page-right {
    max-width: 100%;
    margin-left: 230px;
    border-left: 1px solid #cecfd0;
    position: relative;
    right: 230px;
}

#left-nav-ctrl {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: right;
    cursor: default;
}

#left-nav {
    margin-bottom: 20px;
    clear: both;
}

#left-nav li.left-nav-opt-expandable > div:after {
    font-family: FontAwesome;
    content: "\f105";
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

#left-nav li.left-nav-opt-expandable > div > * {
    cursor: pointer;
}

#left-nav li.left-nav-opt-exp > div:after {
    font-family: FontAwesome;
    content: "\f107";
}

.left-nav-opt-hover {
    background: #cccccc !important;
}

/*一级菜单*/
#left-nav > li {
    border-top: 1px solid #e6e7e8;
}

#left-nav > li > div {
    height: 40px;
    position: relative;
}

.left-nav-l1-opt-slt .left-nav-opt-icon {
    background: url("../../images/common/common/test-selected.png") center no-repeat;
}

.left-nav-opt-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2000;
    cursor: pointer;
    background: url("../../images/common/common/test.png") center no-repeat;
}

#left-nav > li > div > a {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    font-size: 1em;
    line-height: 40px;
    color: #666666;
    display: block;
    font-weight: bold;
}

#left-nav > li > div > i.slt-arrow {
    width: 0;
    height: 0;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #717780 #ffffff #717780 #717780;
    position: absolute;
    top: 50%;
    right: -1px;
    z-index: 900;
}

#left-nav > li > div > i.slt-border {
    width: 1px;
    height: 40px;
    background: #717780;
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 800;
}

#left-nav > li > div.left-nav-opt-slt {
    background: #717780 !important;
    color: #FFF !important;
}

#left-nav > li > div.left-nav-opt-slt > a {
    color: #FFF !important;
}

.left-nav-l1-opt-slt {
    background: #717780 !important;
    color: #FFF !important;
}

.left-nav-l1-opt-slt > a {
    color: #FFF !important;
}

/*二级菜单*/
#left-nav > li > ul > li {
    border-top: 1px solid #f3f3f3;
}

#left-nav > li > ul > li > div {
    background: #f3f3f3;
    position: relative;
}

#left-nav > li > ul > li > div > a {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #666666;
    display: block;
}

#left-nav > li > ul > li > div.left-nav-opt-slt {
    background: #cccccc !important;
}

/*三级菜单*/
#left-nav > li > ul > li > ul > li {
    border-top: 1px solid #f3f3f3;
}

#left-nav > li > ul > li > ul > li > div {
    background: #f3f3f3;
    position: relative;
}

#left-nav > li > ul > li > ul > li > div > a {
    width: 100%;
    height: 40px;
    padding-left: 80px;
    font-size: 12px;
    line-height: 40px;
    color: #666666;
    display: block;
}

#left-nav > li > ul > li > ul > li > div.left-nav-opt-slt {
    background: #cccccc !important;
}

/*#posIcon {
    background: url(../../images/common/icon-home.png) no-repeat center center;
}

.left-nav-l1-opt-slt .icon_vop_home_000001 {
    background: url(../../images/common/vop_home_000001_slt.png) no-repeat center center;
}
*/

.container-right {
    width: inherit;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-wrapper {
    width: 100%;
    min-width: 1000px;
    padding-bottom: 70px;
}

/*底部导航区域开始*/
#page-footer {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #eeeeee;
}

#ft-nav {
    height: 34px;
    margin-top: 8px;
    margin-right: 10px;
    float: right;
}

#ft-nav a {
    margin: 0 12px;
    font-size: 12px;
    color: #808080;
    float: right;
    display: inline-block;
    position: relative;
}

#ft-nav a:before {
    content: "";
    width: 2px;
    height: 2px;
    background: #808080;
    position: absolute;
    top: 7px;
    left: -10px;
}

#ft-nav p {
    padding-right: 12px;
    font-size: 12px;
    color: #808080;
    float: right;
    clear: both;
}

/*公共样式*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*单行文本溢出省略号*/
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label.required:before {
    content: "*";
    font-size: 14px;
    color: #FF0000;
    margin-right: 2px;
}

.border-bottom-none {
    border-bottom: 0 !important;
}

/*重置H1-H6样式*/
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, "微软雅黑";
}

/*重置bootstrap panel样式*/
.panel, .panel-heading, .panel-body {
    border-radius: 0 !important;
}

.panel {
    margin-bottom: 0;
}

.panel-heading {
    font-weight: bold;
}

.panel-body {
    padding: 0;
}

/*重置模态框样式*/
.modal-header {
    background: #3794E6;
    line-height: 40px;
    padding: 10px 15px;
}

.modal-header > .close {
    color: #FFF !important;
    opacity: 1;
}

.modal-title {
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
}

.modal-dialog {
    width: 650px;
    margin: 30px auto;
}

.modal-body {
    padding: 10px;
}

.modal-content {
    border-radius: 0;
}

.modal-footer {
    height: 50px;
    padding: 10px 15px;
    margin-top: 0;
    background: #F7F8FA;
}

/*重置bootstrap-select样式*/
.bootstrap-select .dropdown-toggle {
    line-height: 16px;
    font-size: 12px;
}

.bootstrap-select .dropdown-menu {
    padding: 0;
    border-radius: 0;
    font-size: 12px;
}

.bootstrap-select .dropdown-menu > li > a {
    color: #1A80D4;
}

.bootstrap-select .dropdown-menu > li:focus {
    border-style: none;
}

.bootstrap-select .dropdown-menu > li > a:focus {
    background-color: #FFF;
    color: #3796E5;
    background-image: none;
    outline-color: #FFF;
}

.bootstrap-select .dropdown-menu > li > a:hover {
    background-color: #3796E5;
    color: #FFF;
}

.btn-default:hover,
.btn-default:focus,
.open .dropdown-toggle.btn-default {
    background: #FFF;
    border: 1px solid #3796E5;
}

.bootstrap-select .btn:focus {
    border: 1px solid #1A80D4;
    outline: none !important;
}

.btn-default.disabled {
    background: #F0F0F0;
}

.bootstrap-select {
    margin-bottom: 0 !important;
}

/*重置boostrap3-dialog样式*/
.bootstrap-dialog .modal-header {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    background: #3794E6;
}

.bootstrap-dialog .bootstrap-dialog-title {
    font-size: 14px;
}

.bootstrap-dialog .modal-body {
    padding: 20px;
}

.bootstrap-dialog .bootstrap-dialog-footer-buttons .btn-default {
    padding: 4px 20px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    font-family: Arial, "微软雅黑";
    border: 1px solid #CDCFD1;
    background: #E6E7E8;
    color: #4D4D4D;
}

.btn-gray {
    border: 1px solid #CDCFD1;
    background: #E6E7E8;
    color: #4D4D4D;
}

.bootstrap-dialog .bootstrap-dialog-footer-buttons .btn-default:hover,
.bootstrap-dialog .bootstrap-dialog-footer-buttons .btn-default:focus,
.bootstrap-dialog .bootstrap-dialog-footer-buttons .btn-default:active {
    border-color: #B4B6B8;
    background-color: #CFD0D1;
    color: #4D4D4D;
}

.bootstrap-dialog .bootstrap-dialog-footer-buttons .btn-primary {
    padding: 4px 20px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    font-family: Arial, "微软雅黑";
}

/*重置表单验证样式*/
input.form-control.error-tip, select.error-tip, textarea.error-tip {
    border: 1px solid #E64141 !important;
}

label.error-tip {
    margin-left: 10px;
    color: #E64141;
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
}

/*重置数据表格样式*/
.data-table {
    margin-top: 10px;
}

.data-table td a.link-operate {
    border-right: 1px solid transparent;
    border-left: 1px solid #333;
    padding-left: 8px;
    padding-right: 8px;
}

.data-table td a.link-operate:first-child {
    border-left: 1px solid transparent;
}

.link-danger {
    color: #ec6900 !important;
}

/*重置form表单样式*/
.form-control[disabled],
.form-control[readonly] {
    background: #FFF;
    cursor: default;
}

.form-control {
    font-family: "微软雅黑";
    height: 30px;
    padding: 4px 12px;
    line-height: 20px;
    font-size: 12px;
    color: #333;
}

.btn, .form-control {
    border-radius: 0;
}

.button {
    padding: 4px 20px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    font-family: Arial, "微软雅黑";
}

/*按钮样式*/
.btn-primary {
    border: 1px solid #2B75B2;
    background: #3796E5;
    color: #FFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #2B75B2;
    background-color: #3186CC;
    color: #FFF;
}

.btn-gray {
    border: 1px solid #CDCFD1;
    background: #E6E7E8;
    color: #4D4D4D;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    border-color: #B4B6B8;
    background-color: #CFD0D1;
    color: #4D4D4D;
}

.btn-orange {
    border: 1px solid #E07800;
    background: #FA8700;
    color: #FFF;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange.active,
.open .dropdown-toggle.orange-btn {
    border-color: #C76A00;
    background-color: #E07800;
    color: #FFF;
}

.btn-icon-plus:before {
    font-family: FontAwesome;
    content: "\f067";
    margin-right: 10px;
}

/*内容区顶部title面板*/
.title-panel {
    width: 100%;
    height: 43px;
    border-bottom: 3px solid #5A8DE0;
    line-height: 43px;
}

.title-panel > * {
    display: inline-block;
}

.title-panel > h4 {
    font-size: 16px;
    font-weight: bold;
}

.title-panel > a {
    color: #3796E5;
    float: right;
}

.title-panel > a:hover {
    text-decoration: underline;
}

.title-panel:after {
    content: "";
    clear: both;
}

/*搜索条件查询面板*/
.query-panel {
    padding: 0 10px;
    border-bottom: 1px solid #98CAF4;
    background: #F2F9FF;
}

.query-panel > .query-panel-row {
    padding: 10px 0;
    position: relative;
}

.query-panel > .query-panel-row > label {
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-bottom: 0;
}

.query-panel > .query-panel-row > .inline-label {
    margin-left: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
}

.query-panel > .query-panel-row > .btn {
    margin-left: 10px;
}

/*数据表格顶部按钮组*/
.dtb-top-btn-group {
    margin-top: 20px;
}

.dtb-top-btn-group .btn {
    margin-left: 10px;
}

.dtb-top-btn-group .btn:first-child {
    margin-left: 0;
}

/*详情模块*/
.detail-module.module-bordered, .edit-module.module-bordered {
    border: 1px solid #BEE1FF;
    border-top: 0;
}

.detail-module > .module-title, .edit-module > .module-title {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    background: #F2F9FF;
    border-top: 1px solid #BEE1FF;
}

.detail-module > .module-title > h5, .edit-module > .module-title > h5 {
    margin: 0;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    font-family: Arial, "微软雅黑";
}

.detail-module .module-content {
    margin: 0;
    padding: 0 10px;
}

.detail-module .module-content > li {
    border-bottom: 1px dashed #E6E6E6;
    padding: 9px 0;
    position: relative;
}

.detail-module .module-content > li > .item-label {
    width: 150px;
    color: #4d4d4d;
    text-align: right;
    font-weight: normal;
    vertical-align: top;
    line-height: 22px;
    margin-bottom: 0;
}

.detail-module .module-content > li > .item-content {
    width: 70%;
    margin: 0;
    color: #808080;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    word-break: break-all;
}

.detail-module .btn-group-region, .edit-module .btn-group-region {
    height: 80px;
    line-height: 80px;
    border-top: 1px solid #BEE1FF;
    border-bottom: 1px solid #BEE1FF;
    background: #F2F9FF;
}

.detail-module .btn-group-region .btn, .edit-module .btn-group-region .btn {
    margin-left: 10px;
}

.detail-module .btn-group-region .btn:first-child, .edit-module .btn-group-region .btn:first-child {
    margin-left: 164px;
}

/*编辑模块*/
.edit-module .module-content > li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px dashed #E6E6E6;
}

.edit-module .module-content {
    margin: 0;
    padding: 0 10px;
}

.edit-module .module-content > li > .item-label {
    width: 150px;
    color: #4D4D4D;
    text-align: right;
    font-weight: normal;
    vertical-align: top;
    line-height: 30px;
    margin-bottom: 0;
}

.edit-module .module-content > li .form-control {
    display: inline-block;
    width: 250px;
    margin-left: 0;
}

.edit-module .module-content > li label.error-tip {
    margin-left: 10px;
    color: #E64141;
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
}

.edit-module .module-content > li > .item-content {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: #808080;
    line-height: 30px;
}

.edit-module .module-content .checkbox-wrapper, .edit-module .module-content .radio-wrapper {
    display: inline-block;
    margin-left: -15px;
}

.edit-module .module-content .checkbox-inline, .edit-module .module-content .radio-inline {
    margin-left: 15px !important;
    line-height: 20px !important;
}

.edit-module .module-content .checkbox-inline > input, .edit-module .module-content .radio-inline > input {
    margin-top: 4px !important;
}
