<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethel.pagination.demo.dao.PropertyMapper" >
  <resultMap id="BaseResultMap" type="com.ethel.pagination.demo.po.Property" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="lpname" property="lpname" jdbcType="VARCHAR" />
    <result column="lplocation" property="lplocation" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, lpname, lplocation, sequence
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from loupan
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from loupan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ethel.pagination.demo.po.Property" >
    insert into loupan (id, lpname, lplocation, 
      sequence)
    values (#{id,jdbcType=VARCHAR}, #{lpname,jdbcType=VARCHAR}, #{lplocation,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ethel.pagination.demo.po.Property" >
    insert into loupan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lpname != null" >
        lpname,
      </if>
      <if test="lplocation != null" >
        lplocation,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lpname != null" >
        #{lpname,jdbcType=VARCHAR},
      </if>
      <if test="lplocation != null" >
        #{lplocation,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ethel.pagination.demo.po.Property" >
    update loupan
    <set >
      <if test="lpname != null" >
        lpname = #{lpname,jdbcType=VARCHAR},
      </if>
      <if test="lplocation != null" >
        lplocation = #{lplocation,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ethel.pagination.demo.po.Property" >
    update loupan
    set lpname = #{lpname,jdbcType=VARCHAR},
      lplocation = #{lplocation,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="queryList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loupan
  </select>
</mapper>